Source: yandex-dummy
Section: utils
Priority: extra
Maintainer: Andrey Sibiryov <kobolog@yandex-team.ru>
Build-Depends: cdbs, debhelper (>= 7.0.13), python, python-support
Standards-Version: 3.9.1

Package: yandex-dummy
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, cocaine-core (>= 0.7.4),
 cocaine-framework-python (>= 0.7.4), cocaine-plugin-python (>= 0.7.4)
Description: Yandex Dummy Application
 A Cocaine application to do the most useful thing in the world.
